<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>nua_TestFixtureSource</Title>
			<Shortcut>nua_TestFixtureSource</Shortcut>
			<Description>Code snippet for an NUnit TestFixtureSource Attribute</Description>
			<Author>Artur Kordowski</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>TestFixtureSourceType</ID>
					<ToolTip>Replace with the type of the source</ToolTip>
					<Default>Type</Default>
				</Literal>
				<Literal>
					<ID>TestFixtureSourceName</ID>
					<ToolTip>Replace with the name of the source</ToolTip>
					<Default>Name</Default>
				</Literal>
			</Declarations>
			<Code Language="csharp"><![CDATA[[TestFixtureSource(typeof($TestFixtureSourceType$), "$TestFixtureSourceName$"]$end$]]></Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>